<alert ng-repeat="alert in alerts" type="alert.type" close="alert.close()">{{alert.msg}}</alert>

<ol class="breadcrumb">
  <li><a href="#/">Dashboard</a></li>
  <li class="active">{{event.name}}</li>
</ol>

<h3>{{event.name}}</h2>
<p>
  {{event.start_date | date: 'shortDate'}} - {{event.end_date | date: 'shortDate'}}<br> Max Registration Limit: {{event.max_registration_limit}}
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Cost Levels</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-3"><strong>&nbsp;Name:</strong></div>
      <div class="col-xs-3"><strong>&nbsp;Cost:</strong></div>
      <div class="col-xs-3"><strong>&nbsp;Deposit:</strong></div>
      <div class="col-xs-3"><button class="btn btn-success btn-xs pull-right" ng-click="addLevel()"><strong>+</strong>&nbsp;Add Level</button></div>
    </div>
    <form ng-submit="saveLevels()">
      <div ng-repeat="level in event.cost_levels">
        <div class="row">
          <div class="col-xs-3">
            <input ng-model="level.name" type="text" class="form-control input-sm" autocomplete="off" placeholder="Ex: Adult">
          </div>
          <div class="col-xs-3">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input ng-model="level.cost" type="number" step="any" min="0" class="form-control input-sm" placeholder="Ex: 30.00">
              <span class="input-group-addon">.00</span>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input ng-model="level.deposit" type="number" step="any" min="0" class="form-control input-sm" placeholder="Ex: 10.00">
              <span class="input-group-addon">.00</span>
            </div>
          </div>
          <div class="col-xs-3">
            <button ng-click="removeLevel($index)" class="btn btn-default btn-xs"><strong>&nbsp;–&nbsp;</strong></button>
          </div>
        </div><br/>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <input class="btn btn-info" type="submit" value="Save Levels">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Groups</h3>
  </div>
  <div class="panel-body">
    <div ng-repeat="group in event.groups">
      {{group.name}}
    </div>
  </div>
</div>