{{event.name}}<br>
{{event.start_date}}<br>
{{event.end_date}}<br>
{{event.max_registration_limit}}<br>

<div>
  <p>
    Name:
    Cost:
    Deposit:
  </p>
</div>
<button ng-click="addLevel()">Add Level</button>
<form>
  <div ng-repeat="level in levels">
    <p>
      <input ng-model="level.name" type="text" placeholder="Ex: Adult">
      <input ng-model="level.cost" type="number" step="any" min="0" placeholder="Ex: 30.00">
      <input ng-model="level.deposit" type="number" step="any" min="0" placeholder="Ex: 10.00">
      <button ng-click="removeLevel($index)">–</button>
    </p>
  </div>
  <input type="submit" value="Save Levels">
</form>

<a href="#/">Back</a>