<div class="row">
  <p ng-repeat="error in errors">{{error}}</p>

  <ol class="breadcrumb">
    <li class="active">Dashboard</li>
  </ol>
  Total Active Events: {{eventCount}}
</div>
<div class="row">
  <ul class="list-inline">
      <li ng-repeat='event in events'>
        <event-tile></event-tile>
      </li>
  </ul>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Groups</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="group in groups"><a ng-href="#/group/{{group.id}}">{{group.name}} - {{group.id}}</a></li>
      </ul>
    </div>
  </div>
</div>


<form ng-submit='addEvent()'>
  <label>Event Name:</label>&nbsp;<input type='text' ng-model='event.name'/><br>
  <label>Date Registration Opens:</label>&nbsp;<input type='text' ng-model='event.registration_open_date'><br>
  <label>Date Event Starts:</label>&nbsp;<input type='text' ng-model='event.start_date'><br>
  <label>Date Event Ends:</label>&nbsp;<input type='text' ng-model='event.end_date'><br>
  <label>Event Max Registration Limit:</label>&nbsp;<input type='text' ng-model='event.max_registration_limit'><br>
  <input type='submit' value='Add Event'>
</form>