<div>
  <p ng-repeat="error in errors">{{error}}</p>
  <form ng-submit='addEvent()'>
    <label>Event Name:</label>&nbsp;<input type='text' ng-model='event.name'/><br>
    <label>Date Registration Opens:</label>&nbsp;<input type='text' ng-model='event.registration_open_date'><br>
    <label>Date Event Starts:</label>&nbsp;<input type='text' ng-model='event.start_date'><br>
    <label>Date Event Ends:</label>&nbsp;<input type='text' ng-model='event.end_date'><br>
    <label>Event Max Registration Limit:</label>&nbsp;<input type='text' ng-model='event.max_registration_limit'><br>
    <input type='submit' value='Add Event'>
  </form>
  Total Active Events: {{eventCount}}

  <ul>
    <li ng-repeat='event in events'><a ng-href="#/event/{{event.id}}">{{event.name}} - {{event.id}}</a></li>
  </ul>
</div>

<h2>Groups</h2>
<ul>
  <li ng-repeat="group in groups"><a ng-href="#/group/{{group.id}}">{{group.name}} - {{group.id}}</a></li>
</ul>