<div>
  <p ng-repeat="error in errors">{{error}}</p>

  <ol class="breadcrumb">
    <li class="active">Dashboard</li>
  </ol>
  Total Active Events: {{eventCount}}

  <ul>
    <li ng-repeat='event in events'>
      <div>
        <a ng-href="#/event/{{event.id}}">
          {{event.name}}<br/>
          {{event.start_date | date: 'shortDate'}}
        </a>
      </div>
    </li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Groups</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li ng-repeat="group in groups"><a ng-href="#/group/{{group.id}}">{{group.name}} - {{group.id}}</a></li>
    </ul>
  </div>
</div>

<form ng-submit='addEvent()'>
  <label>Event Name:</label>&nbsp;<input type='text' ng-model='event.name'/><br>
  <label>Date Registration Opens:</label>&nbsp;<input type='text' ng-model='event.registration_open_date'><br>
  <label>Date Event Starts:</label>&nbsp;<input type='text' ng-model='event.start_date'><br>
  <label>Date Event Ends:</label>&nbsp;<input type='text' ng-model='event.end_date'><br>
  <label>Event Max Registration Limit:</label>&nbsp;<input type='text' ng-model='event.max_registration_limit'><br>
  <input type='submit' value='Add Event'>
</form>