// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.eventTile {
  width:150px;
  height:150px;
  padding:15px;
  margin:5px;
  & span {
    position:relative;
    &.eventName {
      font-size:125%;
      font-weight:bold;
      top:40px;
    }
    &.startDate {
      top:50px;
    }
  }
}